JWT_SECRET = ""
DISCORD_OAUTH_CLIENT_ID = ""
DISCORD_OAUTH_CLIENT_SECRET = ""
DB_USER = ""
DB_PASSWORD = ""
DB_NAME = ""

# optional
DISCORD_REDIRECT_URI = "http://localhost:1974/auth/discord/callback"
DB_HOST = "localhost"
DB_PORT = "3306"
NO_AUTH = "no"
